<div class="container content content-lgn">
  <h3 class="mb-4">Register</h3>
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field mb-3">
      <%= f.label :email, class:"form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email_name@domain.com" %>
    </div>

    <div class="field mb-3">
      <%= f.label :password, class:"form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "******" %>
      <div class="form-text">
      Your password must be 6-20 characters long.
      </div>
    </div>

    <div class="field mb-4">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "******" %>
    </div>

    <div class="actions d-flex flex-column justify-content-center align-items-center">
      <%= f.submit "Sign up", class: "button action-button" %>
      <div>
        <span class="form-text">Already have an account?</span>
        <%= link_to "Log in", new_session_path(resource_name) %>
      </div>
    </div>
  <% end %>
</div>
