<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Task' %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label "Finish before:" %>
    <%= form.date_select :finish_before %>
  </div>

  <div>
    <%= form.label "Categories:" %>
    <%= form.text_field :categories, value: task.categories.map(&:title).join(',') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
