<p>
  <strong>Finish before:</strong>
  <%= task.finish_before %>
</p>

<p>
  <%= task.body %>
</p>

<strong>Categories:</strong>
<% task.categories.each do |category|%>
  <%= link_to category do %>
    <span><%= category.title%></span>
  <% end %> 
<% end %>

<br>
<br>

<%= link_to 'Edit task', edit_task_path(task) %> |
<%= link_to 'Remove', @task, method: :delete, data: { confirm: 'Remove this task?' } %>
