<%= render 'partials/navbar' %>

<div class="container content content-lgn">
  <div class="d-flex gap-1 task  mb-2">
    <a href="<%= edit_task_path(@task) %>" class="button plus-icon d-flex align-items-center" title="Edit Task"><i class="fa-regular fa-pen-to-square"></i>
      </a> 

    <a data-confirm="Confirm deleting this task?" rel="nofollow" data-method="delete" href="<%= task_path(@task) %> " title="Delete" class="button plus-icon d-flex align-items-center" title="Delete">
          <i class="fa-regular fa-trash-can"></i>
      </a>
    </div>

  <% if @task.finish_before != nil %>
  <p>
    Finish before:
    <%= @task.finish_before.strftime('%b/%d/%Y') %>
  </p>
  <% end %>

  <p style="font-size: 2rem; word-wrap: break-word" class="mb-3">
    <%= @task.body %>
  </p>

  <% unless @task.categories.empty? %>
  <span>Categories:</span>
  <div class="d-flex gap-1">
    <% @task.categories.each do |category|%>
      <%= link_to category, class:"button px-1" do %>
          <%= category.title%>
      <% end %> 
    <% end %>
  </div>
  <% end %>
  

</div>

