<%= form_with(model: category) do |form| %>
<div class="container content content-lgn">
  <%= link_to 'Back', categories_path %>
  <% if category.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <% category.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label 'Category title: ', class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="actions d-flex flex-column justify-content-center align-items-center">
    <%= form.submit 'Add', class: "button action-button" %>
  </div>
  </div>
<% end %>
